body{
  background-image: url("../images/background.gif");
  background-size:cover; 
  color: white
}
.backgroundgrey{
  background-color: #00000096;
}
.backgroundlightgrey{
  background-color: #00000096;
}
.navbar{
  color: white;
  background-color: #00000096;
}
